<h1>Silly Coaching - Answer</h1>

<div>
  <p><%= params[:question] %></p>
  <p>- You</p>
</div>

<p></p>

<div>
  <p><b><%= @answers %></b></p>
  <p>- Your Coach</p>
</div>
<%= link_to 'New Question ?', '/ask' %>
